name: Deploy

on: 
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs: 
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Docker Build
        run: docker compose up --build

# Test change for class